---
title: Programação
permalink: /programa
---
<div id="main" class="wrapper">
  <div class="inner">
    <header class="heading major">
      <h1>Programa</h1>
      <p>O que vai rolar na Agile Brazil 2022</p>
    </header>

    <p class="left">A programação da Agile Brazil está saindo do forno e você já pode ver uma prévia do que vai rolar! Durante a conferência, a grade será mostrada em um app para que você acompanhe as mudanças <em>live</em>. Enquanto o app não fica pronto, você pode ver dia e horário das suas sessões favoritas <a href="assets/grade-ab2022-prelim.pdf" target="_blank">nesse pdf</a>.</p>

    <p>A Agile Brazil 2022 terá programação das 9am às 6pm nos 3 dias. Vale lembrar, também, que a grade pode ser alterada a qualquer momento, respondendo às mudanças que chegam até nós!</p>

    {% include interactive-program.html %}

    <section class="program">
      <h2>Mãos na Massa</h2>
      <ul class="workshops">
      {% assign workshops = site.data.sessions | where:"type", "Mão Na Massa" %}
      {% for workshop in workshops %}
        {% include session.html session=workshop %}
      {% endfor %}
      </ul>

      <h2>Apresentações</h2>
      <ul class="talks">
      {% assign talks = site.data.sessions | where:"type", "Apresentação" %}
      {% for talk in talks %}
        {% include session.html session=talk %}
      {% endfor %}
      </ul>
    </section>

    <hr>

    <p>Para conhecer um pouco do conteúdo que recebemos na conferência, assista as palestras de outras edições da Agile Brazil no nosso canal no Youtube!</p>
        <ul class="actions special">
          <li><a href="https://www.youtube.com/channel/UCq45wLjEs9BRRreV02Fe8rw" class="button primary" target="_blank"><span class="fab fa-youtube"></span> Reveja conteúdo da AB</a></li>
        </ul>
  </div>
</div>
