---
title: Programação
permalink: /programa
---
<div id="main" class="wrapper">
  <div class="inner">
    <header class="heading major">
      <h1>Programa</h1>
      <p>O que vai rolar na Agile Brazil 2022</p>
    </header>

    <p>A programação da Agile Brazil está disponível no app, que será nossa fonte de verdade, mostrando inclusive eventuais mudanças na grade <em>live</em>. Ele é um WebApp e dá a possibilidade de adicionar um link à home do seu celular, para praticidade.</p>

    <a href="{{ site.app }}" class="button primary">Veja a programação no app!</a>

    <p>Acesso direto em: <a href="{{ site.app }}">{{ site.app }}</a>

    {% include interactive-program.html %}

    <section class="program">
      <h2>Mãos na Massa</h2>
      <ul class="workshops">
      {% assign workshops = site.data.sessions | where:"type", "Mão Na Massa" %}
      {% for workshop in workshops %}
        {% include session.html session=workshop %}
      {% endfor %}
      </ul>

      <h2>Apresentações</h2>
      <ul class="talks">
      {% assign talks = site.data.sessions | where:"type", "Apresentação" %}
      {% for talk in talks %}
        {% include session.html session=talk %}
      {% endfor %}
      </ul>
    </section>

    <hr>

    <p>Para conhecer um pouco do conteúdo que recebemos na conferência, assista as palestras de outras edições da Agile Brazil no nosso canal no Youtube!</p>
        <ul class="actions special">
          <li><a href="https://www.youtube.com/channel/UCq45wLjEs9BRRreV02Fe8rw" class="button primary" target="_blank"><span class="fab fa-youtube"></span> Reveja conteúdo da AB</a></li>
        </ul>
  </div>
</div>
