<IfModule mod_rewrite.c>
  # If the request exists with a .html extension.
  RewriteCond %{SCRIPT_FILENAME}.html -f
  # And there is no trailing slash, rewrite to add the .html extension.
  RewriteRule [^/]$ %{REQUEST_URI}.html [QSA,L]
</IfModule>
