<p>A Agile Brazil é a mais tradicional conferência sobre métodos ágeis. Historicamente, o evento vem reunindo perto de oitocentos participantes do cenário brasileiro de tecnologia e diversos palestrantes de renome nacional e internacional. O evento não tem fins lucrativos e é organizado por especialistas no assunto de diversas partes do Brasil, que compartilham o objetivo de incentivar e disseminar a cultura Ágil por todo o país.</p>

<p>A Agile Brazil é a conferência oficial da Agile Alliance Brazil e é construída, ano após ano, por agilistas brasileiros que voluntariam seu tempo e trabalho para montar um evento de alto nível, diverso e representativo da agilidade nacional.</p>

<p>Métodos Ágeis vêm sendo adotados por empresas dos mais diferentes tamanhos e segmentos. Agências e órgãos de Governo também têm dedicado esforços para adotar e cultivar os princípios e valores que fundamentam a cultura Ágil.</p>

<p>Cerca de 90 palestrantes por ano também trazem valor ao evento, compartilhando suas experiências, conhecimento e percepções. A experiência da conferência não poderia estar completa sem as empresas patrocinadoras, que historicamente trazem oportunidades para participantes, enquanto levam novos leads de contratação, prospecções de novos negócios e um fortalecimento da associação entre sua marca e a agilidade.</p>

<div class="box">
  <h3>Agile Alliance Brazil</h3>

  <p>Agile Brazil é uma conferência criada pela comunidade Ágil brasileira e, desde a edição de 2014, apoiada pela Agile Alliance Brazil. Fundada em 2013, a Agile Alliance Brazil é uma instituição sem fins lucrativos e comerciais, que nasceu pela necessidade de aperfeiçoarmos a organização da conferência e também do anseio de apoiar, de maneira efetiva, o crescimento e aprofundamento da comunidade ágil brasileira.</p>
</div>