<!-- Footer -->
<footer id="footer">
  <section class="divider footer-wrapper">
    <div class="emails">
      <h3>Fale com a Agile Brazil</h3>
      {% for email in site.emails %}
      <a href="mailto:{{email}}">{{email}}</a>
      {% endfor %}
    </div>

    <div class="social-media">
      <h3>Siga a Agile Brazil</h3>
      <ul class="icons">
        {% for item in site.data.social %}
        <li>
          <a href="{{item.url}}"
             target="_blank"
             class="icon brands {{item.icon}}"
             aria-label="{{item.media}}">
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="divider copyleft">
    <span><i class="fab fa-creative-commons-sa"></i> CC BY-SA 4.0 &ndash; Agile Brazil 2010-2022</span>
  </section>
</footer>
