<!-- Footer -->
<footer id="footer">
  <section class="footer-wrapper">
    <div class="patrocinadores">
      <h2>Patrocínio</h2>

      <div class="sponsors">
        {% for sponsor in site.data.sponsors %}
        <a href="{{sponsor.url}}" target="_blank">
          <img class="{{sponsor.level}}  {{sponsor.name}}" src="{{sponsor.logo | prepend: site.baseurl_root}}" alt="{{sponsor.name}}">
        </a>
        {% endfor %}
      </div>
    </div>

    <div class="apoio">
      <h2>Apoio</h2>

      <ul class="supporters">
        {% for supporter in site.data.supporters %}
        <li>
          <a href="{{supporter.url}}" target="_blank">
            <img src="{{supporter.logo | prepend: site.baseurl_root}}" alt="{{supporter.name}}">
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="social">
      <h3>Siga a Agile Brazil</h3>
      <ul class="icons">
        {% for item in site.data.social %}
        <li>
          <a href="{{item.url}}"
             target="_blank"
             class="icon brands {{item.icon}}"
             aria-label="{{item.media}}">
          </a>
        </li>
        {% endfor %}
      </ul>

      <h3 class="emails">Fale com a Agile Brazil</h3>
      {% for email in site.emails %}
      <a href="mailto:{{email}}">{{email}}</a>
      {% endfor %}
    </div>
  </section>

  <section class="divider copyleft">
    <span><i class="fab fa-creative-commons-sa"></i> CC BY-SA 4.0 &ndash; Agile Brazil 2010-2022</span>
  </section>
</footer>
