    <div class="profiles">

      {% for keynote in site.data.keynotes %}
      <div class="profile">
        <div class="image">
          <img src="{{ keynote.photo | prepend: site.baseurl_root }}" alt="{% t labels.photo_of %} {{keynote.name}}" />
        </div>
        <header class="heading">
          <h3>{{ keynote.name }}</h3>
          <p>{{ keynote.title }}</p>
        </header>
        <p>{{ keynote.minibio }}</p>
        <ul class="icons">
          <li><a href="{{ keynote.linkedin }}" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
          <li><a href="{{ keynote.twitter }}" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
          <li><a href="{{ keynote.site }}" class="icon solid fas fa-link" target="_blank"><span class="label">Website</span></a></li>
        </ul>
      </div>
      {% endfor %}

      <div class="profile">
        <div class="image">
          <img src="{{ "/assets/images/community.svg" | prepend: site.baseurl_root }}" alt="{% t labels.community %}" />
        </div>
        <header class="heading">
          <h3>{% t labels.and_more %}</h3>
          <p>{% t texts.know_the_rest_of_the_program %}</p>
        </header>
        <p>{% t texts.call_to_program %}</p>

        <a href="{% tl program %}" class="button primary icon solid far fa-list-alt">{% t labels.see_the_program %}</a>
      </div>

    </div>
