html {
	--ab-logo-azul-escuro: #182C35;
	--ab-logo-verde-escuro: #147332;
	--ab-logo-verde-medio: #43AC4B;
	--ab-logo-laranja: #FFA506;
	--ab-logo-branco: #FFFFFF;
  --ab-divisores: rgba(255, 255, 255, 0.15);
}


/* Footer default sizes, desktop */
#footer .sponsorsInLevel img.título {
  width: 45vw;
}

#footer .sponsorsInLevel img.diamante {
  width: 32vw;
}

#footer .sponsorsInLevel img.prata {
  width: 16vw;
}

#footer .sponsorsInLevel img.bronze {
  width: 12vw;
}

#footer .sponsorsInLevel img.comunidade,
#footer .sponsorsInLevel img.diversidade {
  width: 10vw;
}

/* Footer customizations, desktop */
#footer .sponsorsInLevel img.título.TQI {
  width: 28vw;
  margin: 0;
}

#footer .sponsorsInLevel img.título.Flomatika {
  width: 48vw;
  margin: 0;
}

#footer .sponsorsInLevel img.diamante.DTI {
  width: 20vw;
}

#footer .sponsorsInLevel img.diamante.Dell {
  width: 18vw;
}

#footer .sponsorsInLevel img.prata.SoftDesign,
#footer .sponsorsInLevel img.prata.Renner {
  width: 22vw;
}

#footer .sponsorsInLevel img.prata.DB {
  width: 18vw;
}

#footer .sponsorsInLevel img.prata.Nubank {
  width: 12vw;
}

#footer .sponsorsInLevel img.diversidade.RaphaAlbino,
#footer .sponsorsInLevel img.comunidade.Wildtech {
  width: 12vw;
}

@media screen and (max-width: 736px) {
  /* Footer default sizes, mobile */
  #footer .sponsorsInLevel img.título {
    width: 90vw;
  }

  #footer .sponsorsInLevel img.diamante {
    width: 60vw;
  }

  #footer .sponsorsInLevel img.prata {
    width: 40vw;
  }

  #footer .sponsorsInLevel img.bronze {
    width: 32vw;
  }

  #footer .sponsorsInLevel img.comunidade,
  #footer .sponsorsInLevel img.diversidade {
    width: 20vw;
  }

  /* Footer customizations, mobile */
  #footer .sponsorsInLevel img.título.TQI {
    width: 60vw;
  }

  #footer .sponsorsInLevel img.título.Flomatika {
    width: 96vw;
  }

  #footer .sponsorsInLevel img.diamante.DTI {
    width: 48vw;
  }

  #footer .sponsorsInLevel img.diamante.Dell {
    width: 36vw;
  }

  #footer .sponsorsInLevel img.prata.SoftDesign,
  #footer .sponsorsInLevel img.prata.Renner {
    width: 48vw;
  }

  #footer .sponsorsInLevel img.prata.DB {
    width: 36vw;
  }

  #footer .sponsorsInLevel img.prata.Nubank {
    width: 24vw;
  }

  #footer .sponsorsInLevel img.diversidade.RaphaAlbino,
  #footer .sponsorsInLevel img.comunidade.Wildtech {
    width: 30vw;
  }
}

.codeOfConduct {
  color: #A0A0A0;
  text-align: center;
}

.codeOfConduct em {
  color: #808080;
  font-style: normal;
  font-weight: 600;
}

.connections .spotlight img {
  background-color: var(--ab-logo-verde-medio);
}

.portoAlegre {
  margin-bottom: 2rem;
}

.sobre h2 {
  padding-top: 2em;
}

.registration .row {
  gap: 1em;
  margin: 1rem 0 3rem;
}

.registration .rate {
  box-sizing: border-box;
  border: 1px solid #ccc;
  cursor: default;
  display: block;
  flex: 1 1 0;
  padding: 1rem;
  text-decoration: none;
}

.registration a.rate:visited {
  color: inherit;
} 

.registration .rate.current {
  background-color: rgba(255, 165, 6, 0.42);
  cursor: pointer;
}

.registration .rate.inactive,
.registration .rate.inactive h3 {
  background-color: #f5f5f5;
  color: #808080;
}

.registration .rate h3 {
  min-height: 56px;
}

.registration .rate .price {
  font-size: 200%;
  font-weight: bold;
}

.registration .rate h3, .registration .rate .price {
  text-align: center;
}

.registration dd {
  margin-bottom: 2rem;
}

/* Program */

.program ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.program h2 {
  margin-top: 2em;
}

.program .session {
  border: solid 1px #ddd;
  flex-grow: 1;
  padding: 1em;
  max-width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.program .session .classifications p {
  margin-bottom: 0;
}

.program .session h3 {
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 1.25rem;
}

@media screen and (max-width: 980px) {
  .program .session {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {

  .program .session {
    max-width: unset;
  }

  .program .session .classifications {
    flex-direction: column;
  }
}

table.sessions thead {
  font-weight: bold;
}

#registrations-closed h2 {
  color: rgb(255, 72, 16);
}
