<!DOCTYPE HTML>
<!--
	Venue by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="pt-BR">
	<head>
		<title>{{ site.title }}</title>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    {% include favicon.html %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/custom.css" />

    {% seo %}
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">{{ site.title }}</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
    {% include nav.html %}

		<!-- Content from _pages folder -->
		{{ content }}

		<!-- sponsors -->
			<!-- <section class="wrapper style2">
				<div class="inner narrow">
					<header class="heading major">
						<h2>Patrocidadores</h2>
						<p>Quem está ajudando nosso evento acondecer:</p>
					</header>
				</div>
			</section> -->

		<!-- Footer -->
    {% include footer.html %}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
